 <!-- <div class="app-carrello">
  <div class="carrello-content">
    <p class="carrello-titolo">Carrello</p>
        <div *ngIf="pizzaSelected">
            <h3>Pizza selezionata:</h3>
            <p>{{ pizzaSelected.nome }} - Quantità: {{ pizzaSelected.quantita }} </p>
            <p>Totale: {{ calcolaTotale() }}&nbsp;&euro;</p>
        </div>
  </div>
</div> -->

<!-- <div class="app-carrello">
  <div class="carrello-content">
    <p class="carrello-titolo">Carrello</p>
    <div *ngFor="let pizza of carrello" class="carrello-item">
      <p>{{ pizza.nome }} - Quantità: {{ pizza.quantita }}</p>
    </div>
  </div>
</div>  -->

 
<!-- <div class="app-carrello">
  <div class="carrello-content">
    <p class="carrello-titolo">Carrello</p>
    <div *ngFor="let pizza of carrello" class="carrello-item">
      <p>{{ pizza.nome }} - Quantità: {{ pizza.quantita }}</p>
    </div>
  </div>
</div> -->


<!-- <div class="app-carrello">
  <div class="carrello-content">
    <p class="carrello-titolo">Carrello</p>
    <div *ngFor="let pizza of pizze" class="carrello-item">
      <p>{{ pizza.nome }} - Quantità: {{ pizza.quantita }} - Prezzo totale: {{ pizza.quantita * pizza.prezzo }}&nbsp;&euro;</p>
    </div>
    <p>Totale: {{ calcolaTotale() }}&nbsp;&euro;</p>
  </div>
</div> -->


<!-- <div class="app-carrello">
  <div class="carrello-content">
    <p class="carrello-titolo">Carrello</p> -->
    <!-- <div *ngFor="let pizza of pizzeNelCarrello" class="carrello-item"> -->
    <!-- <div *ngFor="let prodotto of carrello" class="carrello-item"></div> -->
      <!-- <p>{{ pizza.nome }} - Quantità: {{ pizza.quantita }} - Prezzo totale: {{ pizza.quantita * pizza.prezzo }}&nbsp;&euro;</p> -->
      <!-- <button (click)="rimuoviPizza(pizza)" class="rimuovi-button">Rimuovi dal Carrello</button> -->
      <!-- <p>{{ prodotto.nome }} - Quantità: {{ prodotto.quantita }} - Prezzo totale: {{ prodotto.quantita * prodotto.prezzo }}&nbsp;&euro;</p>
      <button (click)="rimuoviProdotto(prodotto)" class="rimuovi-button">Rimuovi dal Carrello</button>
   
    <p>Totale Complessivo: {{ calcolaTotaleComplessivo() }}&nbsp;&euro;</p>
  </div>
</div> -->


<div class="app-carrello">
  <div class="carrello-content">
    <p class="carrello-titolo">Carrello</p> <span class="material-symbols-outlined">
      shopping_cart
      </span>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    
    <div *ngFor="let prodotto of carrello" class="carrello-item">
      <p>{{ prodotto.nome }} - Quantità: {{ prodotto.quantita }} - Prezzo totale: {{ prodotto.quantita * prodotto.prezzo }}&nbsp;&euro;</p>
      <button (click)="rimuoviProdotto(prodotto)" class="rimuovi-button">Rimuovi dal Carrello</button>
    </div>

    <p>Totale Complessivo: {{ calcolaTotaleComplessivo() }}&nbsp;&euro;</p>
  </div>
</div>




