
<button class="login-button" (click)="mostraForm()">Login</button>


<div class="modal" [class.show]="isFormVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">I tuoi dati</h5>
        <button type="button" class="close" (click)="nascondiForm()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #testForm="ngForm" (ngSubmit)="inviaForm(testForm)">
          <label for="indirizzo">Indirizzo:</label>
          <input type="text" id="indirizzo" name="indirizzo" [(ngModel)]="indirizzo" required ngModel #indirizzoInput="ngModel">
          <div *ngIf="indirizzoInput.touched && indirizzoInput.invalid" class="error-message">
            Indirizzo è obbligatorio.
          </div>
        
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" [(ngModel)]="nome" required ngModel #nomeInput="ngModel">
          <div *ngIf="nomeInput.touched && nomeInput.invalid" class="error-message">
            Nome è obbligatorio.
          </div>
        
          <label for="cognome">Cognome:</label>
          <input type="text" id="cognome" name="cognome" [(ngModel)]="cognome" required ngModel #cognomeInput="ngModel">
          <div *ngIf="cognomeInput.touched && cognomeInput.invalid" class="error-message">
            Cognome è obbligatorio.
          </div>
          
          <label for="cap">Cap:</label>
          <input type="number" id="cap" name="cap" [(ngModel)]="cap" required ngModel #capInput="ngModel">
          <div *ngIf="capInput.touched && capInput.invalid" class="error-message">
            Cap è obbligatorio.
          </div>


          <h4>Cittá</h4>
          <mat-form-field>
            <mat-label>Cittá</mat-label>
            <select matNativeControl required>
              <option value="Savona">Savona</option>
              <option value="Genova">Genova</option>
              <option value="Imperia">Imperia</option>
            </select>
          </mat-form-field>

        
          <div *ngIf="submitAttempted && testForm.invalid" class="error-message">
            Compila tutti i campi obbligatori.
          </div>

          
          <button type="submit" class="btn btn-primary">Invia</button>
          <div *ngIf="submitSuccess" class="success-message">
            {{ successMessage }}
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
