
<app-title></app-title>

<nav class="nav-buttons">
  <a routerLink="/menu" class="button">Pizze</a> <div></div>
  <a routerLink="/bibite" class="button">Bibite</a>
</nav>
<!-- 
<router-outlet *ngIf="!AppBibite"></router-outlet> -->

<!-- <app-menu *ngIf="!AppBibite" (pizzaAdded)="addPizza($event)"></app-menu> -->
<app-menu *ngIf="!AppBibite"></app-menu>
<app-bibite *ngIf="AppBibite"></app-bibite>
<app-form></app-form>

<div class="col-2">
  <app-carrello></app-carrello>

  <!-- <app-carrello
    [pizzaSelected]="pizzaSelected"
    (aggiungiPizzaAlCarrello)="aggiungiPizzaAlCarrello($event)"
    (rimuoviPizzaDalCarrello)="rimuoviPizzaDalCarrello($event)"
  ></app-carrello> -->
</div>

<!-- 
<div class="titolo">
  <div class="container">
    <div class="row">
      <div class="col-1">

        <app-menu (pizzaAdded)="addPizza($event)"></app-menu>
      </div>

      <div class="col-2">
        <app-carrello
          [pizzaSelected]="pizzaSelected"
          (aggiungiPizzaAlCarrello)="aggiungiPizzaAlCarrello($event)"
          (rimuoviPizzaDalCarrello)="rimuoviPizzaDalCarrello($event)"
        ></app-carrello>
      </div>
    </div>
  </div>
</div>  -->





