.titolo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-items: flex-start;
}

.col-1 {
  width: 70%;
}

.col-2 {
  width: 30%;
  align-content: flex-start;
  flex-direction: column;
}



.nav-buttons {
  display: flex;
  gap: 10px; 
}

.button {
  padding: 10px 15px;
  background-color: #3498db; 
  color: #fff; 
  text-decoration: none;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
  &:hover {
    background-color: #2980b9;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 0 auto;
}


.input-group {
  margin-right: auto;
}

.material-symbols-outlined{
  color: #fff;
}



